body {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	height: 100vh;
	background-color: white;
}	

.burger {
	width: 10%;
}

svg {
	position: relative;
}

.st0 {
	fill:#F7CB42;
}
.st1 {
	fill:#491E0E;
}
.st2 {
	fill:#FAE926;
}
.st3 {
	fill:#68B42E;
}
.st4 {
	fill:#FFFFFF;
	stroke:#F7CB42;
	stroke-miterlimit:10;
}


.painTop {
	position: relative;
    bottom: 500px;
}


.salade {
	bottom: 6px;
	right: 560%;
}

.cheese {
	bottom: 20px;
	right: 560%;
}

.steak {
	bottom: 22px;
	right: 560%;
}

.painBottom {
	bottom: 20px;
	right: 560%;
}	


.nuggets {
	width: 10%;
	position: absolute;
	opacity: 0;
}

.nuggets-1 {
	fill:#bd7713;
}

.nuggets-2 {
	fill:#5e3b15;
}










.frite {
	width: 10%;
	position: absolute;
	opacity: 0;
}


.frite-1 {
	fill:#f6a11a;
}

.frite-2 {
	fill:#fbe273;
}

.frite-3 {
	fill:#e41d20;
}
	